// @import url("https://fonts.googleapis.com/css?family=Prata");
@import url("https://fonts.googleapis.com/css?family=Marko+One");
@import url("https://fonts.googleapis.com/css?family=Muli");

$heading: "Marko One", serif;
// $heading: "Prata", "san-serif";
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$mild-blue: #88cbdb;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$darker-red: #e07e71;
$mild-red: #eca499;
$bg-red: #d26a5f;
$text-red: #fff1f0;
$light-yellow: #fffdeb;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;
