
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;

  img {
    margin-bottom: 10px;
  }

  a {
    color: $text-blue;
  }

  label {
      font-size: 16.5px;
  }
}
