$heading: 'Marko One', serif;
// $heading: "Prata", "san-serif";
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$mild-blue: #88cbdb;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$darker-red: #e07e71;
$mild-red: #eca499;
$bg-red: #d26a5f;
$text-red: #fff1f0;
$light-yellow: #fffdeb;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 40px 0;

  img {
    margin-bottom: 10px;
  }

  a {
    color: $text-blue;
  }

  label {
      font-size: 16.5px;
  }
}
