$heading: "Marko One", serif;
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 40px 0;

  img {
    margin-bottom: 10px;
  }

  a {
    color: $text-blue;
  }

  label {
    font-size: 16.5px;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    a {
      margin-bottom: 20px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin-bottom: 30px !important;
  }

  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    a {
      margin-bottom: 40px;
      margin-right: 40px;
    }
  }
}
