$heading: "Prata", "san-serif";
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$mild-blue: #88cbdb;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$darker-red: #e07e71;
$mild-red: #eca499;
$bg-red: #d26a5f;
$text-red: #fff1f0;
$light-yellow: #fffcde;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;

.artworkBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .adult {
    background-color: $bg-red;
    color: $text-red;
  }

  .children {
    background-color: $text-blue;
    color: $bg-blue;
  }

  .adult,
  .children {
    margin: 15px;
    padding: 20px 40px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
}
