.categories {
  display: flex;
  flex-direction: row;

  .left header {
    // color: #2d3757;
    color: #33699f;
    font-size: 20px;
    padding: 15px 0;
    width: max-content;
    cursor: pointer;
  }

  .right {
    width: 800px;
    padding: 10px 0 0 50px;
  }
}

.fadeIn {
  animation: fadeInDown 3s;
  -webkit-animation: fadeInDown 3s;
  -moz-animation: fadeInDown 3s;
  -o-animation: fadeInDown 3s;
  -ms-animation: fadeInDown 3s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 1024px) {
  .left header {
    font-size: 18px !important;
  }

  .right {
    padding: 10px 0 0 30px !important;
  }

  .links {
    font-size: 15px;
  }
}
