$heading: 'Marko One', serif;
// $heading: "Prata", "san-serif";
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$mild-blue: #88cbdb;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$darker-red: #e07e71;
$mild-red: #eca499;
$bg-red: #d26a5f;
$text-red: #fff1f0;
$light-yellow: #fffdeb;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;

.footer {
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  // background: $dark-blue;
  // color: #ffffff;
  background-color: $bg-color;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .column {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;

      h3 {
        font-family: $heading;
        // font-family: "Prata";
        color: $text-color;
        margin-bottom: 20px;
      }
      label {
        padding: 10px;
        a {
          color: #797979;
          font-family: "Muli";
        }
      }
    }
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    height: 360px;
  }

  .column {
    padding: 5px 17px !important;
    font-size: 14px;
  }
}
