@import "./_variables.scss";

.footer {
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  background-color: $bg-color;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .column {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;

      h3 {
        font-family: $heading;
        color: $text-color;
        margin-bottom: 20px;
      }
      label {
        padding: 5px 10px;
        a {
          color: #797979;
          font-family: "Muli";
        }
      }
    }
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    height: 200px;
  }

  .column {
    padding: 5px 17px !important;
    font-size: 14px;
  }
}
