@import "./variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0000008a;

  &:focus {
    background-color: transparent;
  }
}

button,
a,
input,
textarea {
  &:focus {
    outline: none;
  }
}

header {
  font-family: $heading;
}

p {
  font-family: $body;
}

.fadeIn {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pageContent {
  margin: 0;
  padding: 25px 150px;
  display: flex;
  flex-direction: column;
  // background-color: $bg-blue;
  // color: $text-blue;
  background-color: $light-yellow;
  color: $text-color;
  // margin-bottom: 500px;
  position: relative;
  // overflow-y: scroll;

  .pageTitle {
    font-size: 35px;
    font-weight: bold;
    margin: 100px 0 10px 0;
  }

  .textContent {
    font-family: $body;
    padding: 25px 0;
    font-size: medium;
    line-height: 1.5em;

    p {
      margin-bottom: 30px;
      text-align: justify;
    }
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0 30px 0;
}

// Artwork Lightbox
.SRLControls {
  .SRLAutoplayButton,
  .SRLThumbnailsButton,
  .SRLDownloadButton,
  .SRLExpandButton {
    display: none;
  }
}
.SRLCaptionText {
  padding: 0 100px;
  line-height: 1.4em;
}
.SRLThumbnailsContainer {
  display: none !important;
}

// Home Slick Slider
.slick-slider {
  .image {
    object-fit: cover !important;
  }
  .slick-dots {
    bottom: 20px !important;
  }
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important;
}
.slick-dots li button:before {
  opacity: 0.6 !important;
  color: #fafafa !important;
  font-size: 8px !important;
}
.slick-dots .slick-active button:before {
  opacity: 1 !important;
}
.slick-slide::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  pointer-events: none;

  /* black overlay with 50% transparency */
  background: rgba(0, 0, 0, 0.2);
}

// Navbar Accordion
.MuiAccordion-root:before {
  display: none;
}
.navMenu .MuiPaper-root {
  background-color: inherit !important;
}
.navMenu .MuiPaper-elevation1 {
  box-shadow: none !important;
}
.MuiAccordionSummary-root {
  min-height: 45px !important;
  padding: 0px 16px 0 40px !important;
}
.MuiAccordionSummary-content {
  margin: 0 !important;
  justify-content: center;
}
.MuiAccordion-root.Mui-expanded {
  margin: 5px 0 !important;
}
.MuiAccordionSummary-root.Mui-expanded {
  min-height: 35px !important;
}

// Artwork - Children's Lens Accordion
.childLensAccord .MuiAccordionDetails-root {
  flex-direction: column;
}

// Public Discourse - VideoLayout
.MuiCardMedia-media {
  max-width: 50%;
}

// Option Buttons - Artwork & Public Discourse
.btnsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;

  .option {
    margin: 15px;
    padding: 20px 40px;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;

    background-color: $bg-color;
    color: $dark-blue;
    border-color: $dark-blue;
    border-width: 3.5px;
    border-style: solid;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $dark-blue;
      color: $light-yellow;
      border-color: $dark-blue;
    }
  }
}

// Interactive Storyboard
// Card Btns
// .MuiButtonBase-root.MuiButton-root:hover {
//   background-color: transparent;
// }
.Chan {
  color: #88cbdb;
  button {
    background-color: $light-yellow !important;
    color: #88cbdb !important;
    border-color: #88cbdb !important;
    border-width: 3.5px !important;
    border-style: solid !important;
    transition: all 0.3s ease-in-out !important;
    &:hover {
      background-color: #88cbdb !important;
      color: $light-yellow !important;
      border-color: #88cbdb !important;
    }
  }
}

.Lee {
  color: #eca499;
  button {
    background-color: $light-yellow !important;
    color: #eca499 !important;
    border-color: #eca499 !important;
    border-width: 3.5px !important;
    border-style: solid !important;
    transition: all 0.3s ease-in-out !important;
    &:hover {
      background-color: #eca499 !important;
      color: $light-yellow !important;
      border-color: #eca499 !important;
    }
  }
}

.Wong {
  color: #33699f;
  button {
    background-color: $light-yellow !important;
    color: #33699f !important;
    border-color: #33699f !important;
    border-width: 3.5px !important;
    border-style: solid !important;
    transition: all 0.3s ease-in-out !important;
    &:hover {
      background-color: #33699f !important;
      color: $light-yellow !important;
      border-color: #33699f !important;
    }
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .pageContent {
    padding: 25px;

    .pageTitle {
      font-size: 27px;
    }

    .textContent {
      margin-top: 0;
    }
  }

  .flexRow,
  .btnsDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    word-break: break-word;
  }

  // Breadcrumbs
  .MuiBreadcrumbs-ol {
    font-size: 13px;
  }

  // Menu Sidebar //
  .navWrapper {
    width: 100% !important;
    padding: 0 !important;
  }

  // VideoLayout Page //
  .MuiCardContent-root {
    flex-direction: column !important;
  }
  .MuiCardMedia-media {
    max-width: 100% !important;
    height: 60% !important;
  }
  .MuiCardContent-root:last-child {
    padding-bottom: 10px !important;
  }

  // Interactive Storyboard //
  .MuiCard-root {
    margin-bottom: 30px;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 1024px) {
  .pageContent {
    padding: 25px 50px;
  }

  .flexRow {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  // Menu Sidebar //
  .navWrapper {
    width: 50% !important;
  }

  // Interactive Storyboard Cards //
  .MuiCard-root {
    margin-bottom: 30px !important;
  }

  // Through Children's Lens
  .MuiSvgIcon-root {
    margin-right: 15px !important;
  }
}
