$heading: "Marko One", serif;
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$mild-blue: #88cbdb;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$darker-red: #e07e71;
$mild-red: #eca499;
$bg-red: #d26a5f;
$text-red: #fff1f0;
$light-yellow: #fffdeb;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;

.container {
  margin: 0px auto;
  width: auto;
}

.landing {
  position: relative;
  width: 100%;
  z-index: 999;
    .slider {
    .carouselCard {
      object-fit: cover !important;
    }
  }
}

header.title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;

  color: $grey;
  padding: 0 20px;
  width: 100%;
  font-size: 30px;
  z-index: 1400;
  position: absolute;
  top: 40%;
}

.slick-slider {
  max-height: 800px !important;
}

.overlay {
  height: 100vh;
  opacity: 0.75;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  header.title {
    line-height: 60px !important;
    padding: 0 20px !important;
    width: auto !important;
    top: 30% !important;
  }
}

/* Small Tablets */
@media (min-width: 481px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 1024px) {
  header.title {
    line-height: 60px !important;
    padding: 0 30px !important;
    width: auto !important;
  }
}
