$heading: "Marko One", serif;
// $heading: "Prata", "san-serif";
$body: "Muli", "san-serif";

$dark-blue: #2d3757;
$mild-blue: #88cbdb;
$bright-blue: #96cad9;
$bg-blue: #d8e2ef;
$text-blue: #33699f;
$darker-red: #e07e71;
$mild-red: #eca499;
$bg-red: #d26a5f;
$text-red: #fff1f0;
$light-yellow: #fffdeb;
$grey: #f0f3fb;

$bg-color: #fafafa;
$text-color: #13130d;

.discourseBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;

  .edu,
  .hkchina {
    margin: 15px;
    padding: 20px 40px;
    // border-radius: 4px;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
  }

  .edu {
    background-color: $light-yellow;
    color: $darker-red;
    border-color: $darker-red;
    border-width: 3.5px;
    border-style: solid;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $darker-red;
      color: $light-yellow;
      border-color: $darker-red;
    }
  }

  .hkchina {
    background-color: $light-yellow;
    color: $text-blue;
    border-color: $text-blue;
    border-width: 3.5px;
    border-style: solid;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $text-blue;
      color: $light-yellow;
      border-color: $text-blue;
    }
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .discourseBtns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
