@import "./_variables.scss";

.modal {
  // color: #41413a;
  color: $text-color;
  background-color: $bg-color;
  line-height: 1.3em;
  min-width: 70%;
  height: 80%;
  padding: 20px 50px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal:focus {
  outline: none !important;
}

.closeIcon {
  position: absolute;
  top: 2.5%;
  right: 11%;
  color: #fff;
  cursor: pointer;
}
